@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

*{
  box-sizing: border-box;
  color:rgb(0,0,0,0.6);
  font-family: 'Cormorant SC', serif;
  font-size: 105%;
}

body{
  margin:0;
 
}

#main {
  background: #dae2b6;
padding:3%;
}

header {
  text-align: center;
}

#title {
  text-align: center;
  font-size: 40px;
  padding: 40px 0 0 0;
  margin-top: 0;
}
#title-text {
  margin-bottom: 40px;
}

#img-div {
  text-align: center;
  background: #f7eddb;
  padding: 16px 16px;
  max-width: 600px;
  margin: 0 auto;
  
}
#image {
  display:block;
  max-width: 100%;
  height: auto;
  margin:  15px auto;
  border-radius: 50%;
}

#tribute-info {
  text-align: center;
}
#tribute-headline {
  margin: 40px auto;
}
#timeline {
  text-align: left;
  padding: 0 0;
  max-width: 600px;
  margin: 0 auto;
}
li {
  padding: 15px;
}
#final-words {
  max-width: 800px;
  margin: 40px auto;
  border: thin solid gray;
  padding: 12px;
  font-size: 20px;
}
#tribute-link{
  font-style: italic;
}
#tribute-link:hover{
  color:blue;

}
footer {
  height: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 25px auto;
}
